* {
    font-family: Roboto, sans-serif;
}

ul {
    padding: 0;
}


li {
    cursor: pointer;
    background-color: gold;
    text-align: center;
    width: 200px;
    padding: 5px 15px;
    border-radius: 10px;
    margin: 5px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
} 

.deleteButton{
    background-color: #D90429;
    color: white;
    border: none;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 25%;
}

.bold {
    font-weight: bold;
}

.red {
    color:#D90429;
}

.done {
    text-decoration: line-through;
}

.deleteButton{
    background-color: #D90429;
    color: white;
    border: none;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 25%;
    text-decoration: none;
}